.text{
    display: flex;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
h1{
width: 152px;
height: 22px;
margin-left: 141px;
margin-top: 43px;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #000000;
}
.text1{
    width: 16px;
    height: 22px;
    margin-left: 142px;  
    margin-top: 28px;
}
.text2{
    width: 49px;
    height: 22px;
    margin-left: 198px;
    margin-top: 28px;
}
.text3{
    width: 109px;
    height: 22px;
    margin-left: 561px;
    margin-top: 28px;
}
.text4{
    width: 69px;
    height: 22px;
    margin-left: 138px;
    margin-top: 28px;
}
.container{
    display: flex;
}
.container1{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 201px;
    height: 45px;
    margin-left: 141px;
}
.container2{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 593px;
    height: 45px;
    margin-left: 14px;
}
.container3{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 201px;
    height: 45px;
    margin-left: 17px;
}
button{
    width: 115px;
    height: 45px;
    margin-left: 16px;
    margin-top: 3px;
    background: #FFD43A;
    border:none;
    border-radius: 10px;
}
.text5{
    margin-left: 16px;
    margin-top: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;

}
.news{
    margin-top:53px ;
    margin-left: 141px;
    width: 152px;
    height: 22px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.number{
    height: 57px;
    width: 72px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.lorem{
    width: 444px;
    height: 57px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.date{
    width: 276px;
    height: 57px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.Edit{
    width: 115px;
    height: 36px;
    background: #FFD43A;
    border-radius: 10px;
}
.Delete{
    margin-left: 8px;
    width: 115px;
    height: 36px;
    background: #E84949;
    border-radius: 10px;
    color: white;
}
table{
    margin-left: 141px;
    width: 1150px;
    height: 627px;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #dddddd;
}
td{
    background-color: #F9F9F9;
    height: 57px;

}
tr td{
    font-weight: 700;
}
.td1{
    padding-left: 29px;
}
.td2{
    padding-left: 23px; 
}
.td3{
    padding-left:97px ;
}
.td4{
    padding-left: 149px;
}